*.exe
.DS_Store
Hierholzer/bin/

Vertex-Cover/Vertex-Cover/intermediate/
Vertex-Cover/Vertex-Cover/output/

Weighted-Vertex-Cover/Weighted-Vertex-Cover/intermediate/
Weighted-Vertex-Cover/Weighted-Vertex-Cover/output/

Uncapacitated-Facility-Location/Uncap-Facility-Location/intermediate/
Uncapacitated-Facility-Location/Uncap-Facility-Location/output/